{{ define "navigation" }}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">{{ .WebsiteName }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">首页<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<button onclick="login()">登录</button>
<button onclick="register()">注册</button>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    async function login() {
        await axios.get('http://127.0.0.1:30033/users/login')
        console.log("login")
    }

    function register() {
        window.location.href = "https://oauth.xmatrix.studio/register"
    }
</script>

<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/litera/bootstrap.min.css"/>
{{ end }}
