openapi: 3.0.0
info:
  title: "IceCream Blog System APIs"
  description: "冰淇淋博客系统API列表"
  # termsOfService: ""
  contact:
    name: "XMatrix Studio"
    url: "https://xmatrix.studio/contact"
    email: "a@xmatrix.studio"
  license:
    name: "MIT License"
    url: "https://github.com/XMatrixStudio/IceCream/blob/master/LICENSE"
  version: "1.0alpha"
servers:
  - url: "https://api.xmatrix.studio/ice-cream/v1"
    description: "XMatrix.Studio网站的API链接"
paths:
  "/Users/Info":
    get:
      tags:
        - "Users"
      summary: "用户信息"
      description: "获取用户基本信息"
      responses:
        200:
          description: "获取信息成功"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "email":
                    type: "string"
                    format: "email"
                    example: "a@xmatrix.studio"
                  "name":
                    type: "string"
                    description: "用户名"
                    example: "XMatrix"
                  "class":
                    type: "number"
                    description: |
                      用户级别<br>
                      -1     - 小黑屋群众<br>
                      0      - 订阅者<br>
                      1 ~ 10 - 作者<br>
                      50     - 管理员<br>
                      99     - 站长
                    example: 99
                  "info":
                    type: "object"
                    description: "用户个人信息"
                    properties:
                      "avatar":
                        type: "string"
                        description: "头像链接"
                        example: "https://xmatrix.studio/a.png"
                      "bio":
                        type: "string"
                        description: "个人简介"
                        example: "Hi, world"
                      "birthDate":
                        type: "string"
                        format: "date"
                        description: "出生日期"
                        example: "2017-10-12"
                      "gender":
                        type: "number"
                        description: |
                          性别<br>
                          0 - 未确定<br>
                          1 - 男<br>
                          2 - 女<br>
                          3 - 其他<br>
                        example: 0
                      "location":
                        type: "string"
                        description: "居住地"
                        example: "Guangzhou, China"
                      "phone":
                        type: "string"
                        description: "电话号码"
                        example: "12345678901"
                      "url":
                        type: "string"
                        description: "个人主页链接"
                        example: "http://xmatrix.studio/about"
        401:
          description: "权限错误"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "error":
                    type: "string"
                    description: |
                      错误信息<br>
                      permission_denied - 权限不足
                    example: "permission_denied"
  "/Users/Login":
    get:
      tags:
        - "Users"
      summary: "用户登录"
      description: "用户授权由Violet完成，授权完成后跳转到该API，该API用于校验code和state"
      parameters:
        - name: "code"
          in: "query"
          description: "Authorization code，注意此code会在1分钟内过期"
          required: true
          schema:
            type: "string"
        - name: "state"
          in: "query"
          description: "client端的状态值，原样带回"
          required: true
          schema:
            type: "string"
        - name: "redirect_uri"
          in: "query"
          description: "回调地址，原样带回"
          required: true
          schema:
            type: "string"
      responses:
        301:
          description: |
            code和state认证成功，跳转至redirect_uri<br>
            code或state认证失败，跳转至失败页面
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "status":
                    type: "string"
                    description: "状态 success 或 fail"
                    example: "success"
    post:
      tags:
        - "Users"
      summary: "用户授权"
      description: "生成state并跳转至Violet授权界面/Verify/Authorize，同时将原链接(redirect_uri)发送过去"
      parameters:
        - name: "quickLogin"
          in: "query"
          description: "是否使用快速登陆"
          schema:
            type: "boolean"
            default: false
        - name: "reLogin"
          in: "query"
          description: "是否强制重新登陆"
          schema:
            type: "boolean"
            default: false
      responses:
        301:
          description: "code生成成功"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "status":
                    type: "string"
                    description: "状态 success 或 fail"
                    example: "success"
    delete:
      tags:
        - "Users"
      summary: "用户退出登录"
      responses:
        301:
          description: "重定向到首页"
  "/Articles":
    get:
      tags:
        - "Articles"
      summary: "获取文章"
      description: "获取文章的文本信息，包括头部yaml信息，用于文章修改"
      parameters:
        - name: "id"
          in: "query"
          description: "文章id"
          required: true
          schema:
            type: "string"
      responses:
        200:
          description: "获取文章成功"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "article":
                    type: "string"
                    description: "文章内容，markdown格式"
                    example: "# Hello, XMatrix\n"
        400:
          description: "获取文章失败"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "error":
                    type: "string"
                    description: |
                      错误信息<br>
                      invalid_article - 文章不存在
                    example: "invalid_article"
        401:
          description: "权限错误"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "error":
                    type: "string"
                    description: |
                      错误信息<br>
                      invalid_author - 用户非本文作者，权限不足
                    example: "invalid_author"
    post:
      tags:
        - "Articles"
      summary: "新建文章"
      description: "新建文章，仅针对有作者级别的用户"
      parameters:
        - name: "article"
          in: "query"
          description: "文章内容，markdown格式，包括头部yaml信息，但信息不能存在date、author等特殊字段"
          required: true
          schema:
            type: "string"
      responses:
        201:
          description: "新建文章成功"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "url":
                    type: "string"
                    description: "该文章的链接，用于重定向"
                    example: "https://xmatrix.studio/uncategories/hiworld/"
        400:
          description: "参数错误"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "error":
                    type: "string"
                    description: |
                      错误信息<br>
                      invalid_yaml  - yaml信息不合法<br>
                      duplicate_url - 生成url链接重复
                    example: "invalid_yaml"
        401:
          description: "权限错误"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "error":
                    type: "string"
                    description: |
                      错误信息<br>
                      permission_denied - 用户非作者，权限不足
                    example: "permission_denied"
    put:
      tags:
        - "Articles"
      summary: "修改文章"
      description: "修改文章，仅针对于有作者权限的用户"
      parameters:
        - name: "id"
          in: "query"
          description: "文章id"
          required: true
          schema:
            type: "string"
        - name: "article"
          in: "query"
          description: "文章内容，markdown格式，包括头部yaml信息，但信息不能存在date、author等特殊字段"
          required: true
          schema:
            type: "string"
      responses:
        201:
          description: "修改文章成功"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "url":
                    type: "string"
                    description: "该文章的链接，用于重定向"
                    example: "https://xmatrix.studio/uncategories/hiworld/"
        400:
          description: "参数错误"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "error":
                    type: "string"
                    description: |
                      错误信息<br>
                      invalid_article_id - 文章不存在<br>
                      invalid_yaml       - yaml信息不合法<br>
                      duplicate_url      - 生成url链接重复
                    example: "invalid_yaml"
        401:
          description: "权限错误"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "error":
                    type: "string"
                    description: |
                      错误信息<br>
                      invalid_author - 用户非本文作者，权限不足
                      lock_article   - 本文已被锁定，无法修改
                    example: "invalid_author"
    delete:
      tags:
        - "Articles"
      summary: "删除文章"
      description: "删除文章，个人主页删除不需要重定向，在该文章页面删除需要重定向"
      parameters:
        - name: "id"
          in: "query"
          description: "文章id"
          required: true
          schema:
            type: "string"
        - name: "redirect"
          in: "query"
          description: "是否需要重定向"
          schema:
            type: "boolean"
            default: false
      responses:
        204:
          description: "在个人主页删除文章成功，不返回任何信息"
        301:
          description: "在文章链接删除文章成功，重定向至首页"
        400:
          description: "参数错误"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "error":
                    type: "string"
                    description: |
                      错误信息<br>
                      invalid_article_id - 文章不存在
                    example: "invalid_article_id"
        401:
          description: "权限错误"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "error":
                    type: "string"
                    description: |
                      错误信息<br>
                      invalid_author - 用户非本文作者，权限不足
                      lock_article   - 本文已被锁定，无法删除
                    example: "invalid_author"
  "/Articles/Comments":
    get:
      tags:
        - "Articles"
      summary: "获取评论列表"
      description: "获取评论列表，以数组形式存在"
      parameters:
        - name: "id"
          in: "query"
          description: "文章id"
          required: true
          schema:
            type: "string"
      responses:
        200:
          description: "获取评论成功"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "comments":
                    type: "array"
                    description: "评论"
                    items:
                      type: "object"
                      properties:
                        "id":
                          type: "string"
                          description: "评论id"
                          example: "2"
                        "userId":
                          type: "string"
                          description: "评论者id"
                          example: "3"
                        "replyId":
                          type: "string"
                          description: "该评论所回复的评论的id，可不存在"
                          example: "1"
                        "date":
                          type: "string"
                          format: "date-time"
                          description: "评论发表时间"
                          example: "2018-2-7 22:43"
                        "like":
                          type: "number"
                          description: "点赞人数"
                          example: "666"
                        "likeIt":
                          type: "boolean"
                          description: "是否点赞"
                          example: true
                        "top":
                          type: "boolean"
                          description: "是否精选置顶"
                          example: true
                        "text":
                          type: "string"
                          description: "评论内容"
                          example: "dalao好~"
        400:
          description: "参数错误"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "error":
                    type: "string"
                    description: |
                      错误信息<br>
                      invalid_article_id - 文章不存在
                    example: "invalid_article_id"
    post:
      tags:
        - "Articles"
      summary: "新建评论"
      description: "新建评论，不得评论自己的评论，可以评论自己的文章"
      parameters:
        - name: "id"
          in: "query"
          description: "文章id"
          required: true
          schema:
            type: "string"
        - name: "replyId"
          in: "query"
          description: "回复评论的id"
          schema:
            type: "string"
        - name: "text"
          in: "query"
          description: "评论内容"
          schema:
            type: "string"
      responses:
        204:
          description: "新建评论成功"
        400:
          description: "参数错误"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "error":
                    type: "string"
                    description: |
                      错误信息<br>
                      invalid_article_id - 文章不存在
                      invalid_reply_id   - 回复评论不存在
                      invalid_text       - 内容不能为空
                    example: "invalid_article_id"
    delete:
      tags:
        - "Articles"
      summary: "删除评论"
      description: "删除评论"
      parameters:
        - name: "id"
          in: "query"
          description: "评论id"
          schema:
            type: "string"
      responses:
        204:
          description: "删除评论成功"
        400:
          description: "参数错误"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "error":
                    type: "string"
                    description: |
                      错误信息<br>
                      invalid_comment_id - 评论不存在
                    example: "invalid_comment_id"
        401:
          description: "权限错误"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "error":
                    type: "string"
                    description: |
                      错误信息<br>
                      invalid_author - 用户非评论者，无法删除该评论
                      lock_article   - 文章已被锁定，无法删除评论
                    example: "invalid_author"
  "/Website/Page":
    post:
      tags:
        - "Website"
      summary: "新建页面"
      responses:
        400:
          description: "新建页面失败"
    put:
      tags:
        - "Website"
      summary: "修改页面"
      responses:
        400:
          description: "修改页面失败"
    delete:
      tags:
        - "Website"
      summary: "删除页面"
      responses:
        400:
          description: "删除页面失败"
  "/Website/Setting":
    put:
      tags:
        - "Website"
      summary: "设置网站信息"
      responses:
        400:
          description: "设置失败"
