{{ define "article" }}
<div class="container">
  <div style="margin:50px 0;" class="text-center article-head">
    <h2>{{ .Title }}</h2>
    <div>
      <small class="font-weight-light">
        <i class="far fa-calendar-alt"></i>
        <span>发表于</span>
        <span>{{ .Date }}</span>
        <span>|</span>
        <i class="fas fa-pen-nib"></i>
        <span>作者</span>
        <span id="writer">{{ .WriterName }}</span>
        <div id="articleEdit" style="display:none;">
          <span>|</span>
          <i class="far fa-edit"></i>
          <a style="color:black;" href="/editor/?url={{ .URL }}">
            <u>编辑</u>
          </a>
        </div>
        <div id="articleLike" onclick="like()" style="display:inline-block;">
          <span>|</span>
          <i id="articleLikeIcon" class="far fa-heart"></i>
          <span>
            <span id="articleLikeNum"></span>人点赞</span>
        </div>
      </small>
    </div>
  </div>
  <div style="margin:0 50px;">
    {{ .Text }}
  </div>
  {{ template "comment" .Comment }}
</div>

<script>
  let articlePreOnload = window.onload
  window.onload = () => {
    if (articlePreOnload) articlePreOnload()
    articleInit()
  }

  async function articleInit() {
    if ($('#writer').html() === Cookies.get('user')) {
      $('#articleEdit').css('display', 'inline-block')
    }
    let res = await axios.get('/api/articles/like', {
      params: {
        url: "{{ .URL }}"
      }
    })
    let data = res.data
    console.log(data)
    if (data === null) {
      dialog({
        title: '服务器错误',
        description: '请稍后重试'
      })
    } else if (data.state === 'error') {
      dialog({
        title: '请求错误',
        description: data.msg
      })
    } else {
      $('#articleLikeNum').html(data.articleLike.num)
      if (data.articleLike.like) {
        $('#articleLikeIcon').removeClass('far').addClass('fas')
      }
    }
  }

  async function like() {
    if ($('#articleLikeIcon').hasClass('far')) {
      let res = await axios.post('/api/articles/like', {
        url: "{{ .URL }}"
      })
      let data = res.data
      if (data === null) {
        dialog({
          title: '服务器错误',
          description: '请稍后重试'
        })
      } else if (data.state === 'error') {
        dialog({
          title: '请求错误',
          description: data.msg
        })
      } else {
        $('#articleLikeNum').html(parseInt($('#articleLikeNum').html()) + 1)
        $('#articleLikeIcon').removeClass('far').addClass('fas')
      }
    } else {
      let res = await axios.delete('/api/articles/like', {
        url: "{{ .URL }}"
      })
      let data = res.data
      if (data === null) {
        dialog({
          title: '服务器错误',
          description: '请稍后重试'
        })
      } else if (data.state === 'error') {
        dialog({
          title: '请求错误',
          description: data.msg
        })
      } else {
        $('#articleLikeNum').html(parseInt($('#articleLikeNum').html()) - 1)
        $('#articleLikeIcon').removeClass('fas').addClass('far')
      }
    }
  }
</script>

<style>
  .article-head i {
    color: gray;
  }

</style>
{{ end }}
