{{ define "navigation" }}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">{{ .WebsiteName }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarItems">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">首页
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">归档</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">关于</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nolog nav-item">
          <a onclick="login()" class="nav-link">登录</a>
        </li>
        <li class="nolog nav-item">
          <span class="navbar-text">或</span>
        </li>
        <li class="nolog nav-item">
          <a class="nav-link" href="https://oauth.xmatrix.studio/register" target="_black">注册</a>
        </li>
        <li class="logged nav-item">
          <a class="nav-link" href="https://blog.zhenly.cn" style="margin-top:4px; font-size:16px;">
            <i class="fas fa-bell"></i>
          </a>
        </li>
        <li id="articleCreate" class="logged nav-item">
          <a class="nav-link" href="/editor" style="margin-top:4px; font-size:16px;">
            <i class="fas fa-plus"></i>
          </a>
        </li>
        <li class="logged nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navUser" aria-haspopup="true" aria-expanded="false">
            <img id="avatar" class="rounded d-block mx-auto float-left" style="display:inline-block; vertical-align:middle; height:24px;"
            />
            <span class="caret" style="display:inline-block; vertical-align: middle"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navUser">
            <p id="user" class="dropdown-item-text font-weight-light"></p>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">设置</a>
            <a class="dropdown-item" onclick="logout()">注销</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const navigationPreOnload = window.onload
  window.onload = () => {
    if (navigationPreOnload) navigationPreOnload()
    navigationInit()
  }

  function navigationInit() {
    let user = Cookies.get('user')
    let avatar = Cookies.get('avatar')
    let level = Cookies.get('level')
    if (user) {
      $('#user').html(user)
      $('#avatar').attr('src', avatar)
      $('.logged').show()
      if (level === "0" || level === "-1") {
        $('#articleCreate').hide()
      }
    } else {
      $('.nolog').show()
    }
  }

  function login() {
    let url = '/api/users/login?url=' + window.location.href
    window.location.href = url
  }

  async function logout(isNotRequest) {
    Cookies.remove('user')
    Cookies.remove('avatar')
    Cookies.remove('level')
    if (!isNotRequest) {
      await axios.delete('/api/users/login')
    }
    $('.nolog').show()
    $('.logged').hide()
  }
</script>

<style>
  .nolog,
  .logged {
    display: none;
  }

</style>
{{ end }}
